.title {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

.aboutMe {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.commentTitle {
  text-align: center;
  margin-top: 4%;
}

.leaveComment {
  text-align: center;
}

.commentButton {
  margin-top: 2%;
}

.bottomContainer {
  padding-bottom: 4%;
  justify-content: center;
  align-items: center;
}

.vid {
  text-align: center;
  border-radius: 12px;
  margin-left: 28%;
}